yar.header__container {
  min-height: 1029px;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 1029px;

  color: white;
}
.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 1020px;
}

.header__title {
  color: #ffffff !important;
}
.header__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff !important;
  margin-top: 30px !important;
}
.smallbubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 266px;
  height: 152px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid linear-gradient(180deg, #ad00ff 0%, #0094ff 100%);

  border-image-source: linear-gradient(180deg, #ad00ff 0%, #0094ff 100%);
  backdrop-filter: blur(74px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 36px;
}
.smallbubble:hover {
  background: rgba(70, 50, 50, 0.08);
  border: 1px solid #0094ff;
}
.one {
  /* position: absolute; */
  z-index: 3;
  left: 590px;
  top: 597px;
}
.two {
  /* position: absolute; */
  z-index: 2;
  left: 863px;
  top: 805px;
}
.three {
  /* position: absolute; */
  left: 1130px;
  top: 664px;

  z-index: 1;
}

.bigbubble {
  width: 328px;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: radial-gradient(
    305.26% 1064.75% at 9.15% 19.08%,
    #ad00ff 0%,
    #0094ff 100%
  );
  backdrop-filter: blur(74px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 36px;
}
.bigbubble:hover {
  background: radial-gradient(
    305.26% 1064.75% at 9.15% 19.08%,
    #bb29ff 0%,
    #2da8ff 100%
  );
  border: 1px solid #0094ff;
}

@media (max-width: 767px) {
  .smallbubble {
    width: 160px;
    height: 80px;
  }
  .bigbubble {
    width: 190px;
    height: 80px;
  }
  .upperText {
    font-size: 20pxs;
  }
  .lower__text {
    font-size: 20pxs;
  }
}
